@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-image: url("assets/images/bg.jpg");
    /* For Slightly downward movement */
    background-position: center calc(50% + 87px);
    background-size: 104% auto;
    background-repeat: no-repeat;
    height: calc(100vh - 52px);
    position: relative;
    padding-top: 64px;
}

.main .box {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background:
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.60) 0%,
            rgba(0, 0, 0, 0.80) 15%,
            rgba(0, 0, 0, 0.70) 35%,
            rgba(0, 0, 0, 0.75) 65%,
            rgba(0, 0, 0, 0.80) 100%
        );
}

nav{
    max-width:75vw;
    justify-content: space-between;
    margin:auto;
    display:flex;
    align-items: center; 
    height:62px;
    padding-top:16px;
    transform: translateY(-6px);
    position:relative;
    z-index:10;
}

nav img{
   width: 140px;
   position:relative;
   z-index:10;
}

nav button{
   position:relative;
   z-index:10;
}

.hero{
    font-family: "DM Sans", sans-serif;
    height: calc(100% - 62px);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-12px);
    color:white;
    position:relative;
    z-index:2;
    text-align:center;
    gap:8px;
}

.hero :nth-child(1) {
    font-weight:900;
    font-size:56px;
    font-style: normal;
    color:rgb(255,255,255);
}

.hero> :nth-child(2){
    padding-top: -8px;
    font-weight:900;
    font-size:56px;
    font-style: normal;
    color:rgb(255,255,255);
    margin-bottom:18px;
}

.hero > span:nth-child(1),
.hero > span:nth-child(2) {
    line-height:1.05;
}

.hero> :nth-child(3){
    font-weight:600;
    font-size:20px;
    font-style: normal;
    color:rgb(255,255,255);
    margin-bottom: 20px;
}

.hero> :nth-child(4){
    font-weight:400;
    font-size:16px;
    font-style: normal;
    color:rgb(255,255,255);
    margin-bottom: -8px;
}

.hero> :nth-child(5) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.hero> :nth-child(6){
    padding-top:12px;
    color:#b3b3b3;
    font-size: 17px;
}

.hero input {
    width: 315px;
    height: 60px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.5px solid gray;
    border-radius: 4px;
    color: white;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1 !important;
}

.hero input::placeholder {
    color: #b3b3b3;
    font-size: 16px;
    font-weight:400;
}

.hero button {
    height: 60px;
    padding: 0 37px 0 27px;
    font-size: 24px;
    font-weight: 650;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}
/* Below .hero button and .arrow for changing the style of the arrow present in the try 14 days box */

.hero button {
    display: flex;
    align-items: center;
    gap: 18px;
}

.arrow {
    width: 10px;
    height: 10px;
    /* This a clever approach to make the arrow by border lines and then rotating it 45 degrees */
    border-right: 2px solid white;
    border-top: 2px solid white;
    transform: rotate(45deg);
}

.hero button:hover {
    background-color: #c11119;
    cursor: pointer;
}

.hero button:active {
    background-color: #99161d;
}

.hero > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

nav div {
    position: relative;
    z-index: 10;
    display: flex;
    gap: 10px;
}

.language-box {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    width: 125px;
    border: 1px solid #777;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
}

.language-icon {
    position: absolute;
    left: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    z-index: 2;
    pointer-events: none;
}

.language-box select {
    width: 100%;
    height: 100%;
    padding: 0 30px 0 39px;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

/* Here I am creating my own solid filled down triangle instead of default drop     down  arrow  */
.language-box select {
    appearance: none;
    -webkit-appearance: none;
}

.language-box::after {
    content: "";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid white;
    pointer-events: none;
}

nav button {
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 7px 16px;
    font-weight: 600;
    position: relative;
    z-index: 10;
    transition: background-color 0.2s ease;
}
nav button:hover {
    background-color: #c11119;
    cursor: pointer;
}

nav button:active {
    background-color: #99161d;
}

/* PROMOTIONAL BAR CSS PRESENT AT THE TOP OF THE PAGE */
.promo-bar {
    width: 100%;
    height: 44px;
    background: linear-gradient(
        90deg,
        #5b2be0 0%,
        #7b2bd5 25%,
        #b51c83 55%,
        #e5093d 80%,
        #e50914 100%
    );
    /* border: 1px solid rgba(255, 255, 255, 0.9); */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 20;
    color: white;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1000;
}

.promo-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
}

.gift-icon {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    color: white;
}

/* NoW the curvature line beneath the section we made */
.curve-container {
    position: relative;
    height: 105px;
    overflow: hidden;
    background: #000;
}

.curve {
    position: absolute;
    width: 160%;
    height: 230px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    border-radius: 50%;
    border-top: 3px solid #ff1b6b;
    background: #000;
    box-shadow:
        0 -1px 4px rgba(255, 0, 90, 0.5);

    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        rgba(0, 0, 0, 0.08) 5%,
        rgba(0, 0, 0, 0.25) 12%,
        rgba(0, 0, 0, 0.50) 22%,
        rgba(0, 0, 0, 0.78) 34%,
        black 45%,
        black 55%,
        rgba(0, 0, 0, 0.78) 66%,
        rgba(0, 0, 0, 0.50) 78%,
        rgba(0, 0, 0, 0.25) 88%,
        rgba(0, 0, 0, 0.08) 95%,
        transparent 100%
    );

    mask-image: linear-gradient(
        to right,
        transparent 0%,
        rgba(0, 0, 0, 0.08) 5%,
        rgba(0, 0, 0, 0.25) 12%,
        rgba(0, 0, 0, 0.50) 22%,
        rgba(0, 0, 0, 0.78) 34%,
        black 45%,
        black 55%,
        rgba(0, 0, 0, 0.78) 66%,
        rgba(0, 0, 0, 0.50) 78%,
         rgba(0, 0, 0, 0.25) 88%,
        rgba(0, 0, 0, 0.08) 95%,
        transparent 100%
    );
}

/* Making the blue shadow seperately */
.curve-container::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 42px;
    left: 50%;
    top: 8px;
    transform: translateX(-50%);
    background: radial-gradient(
        ellipse at 50% 20%,
        rgba(0, 12, 90, 0.90) 0%,
        rgba(0, 18, 115, 0.70) 20%,
        rgba(0, 24, 135, 0.42) 42%,
        rgba(0, 25, 125, 0.20) 62%,
        rgba(0, 20, 100, 0.07) 78%,
        transparent 100%
    );
    filter: blur(11px);
    z-index: 1;
    pointer-events: none;
}